{% extends 'main/base.html' %}
{% block content %}

<div class="container py-4">
    <div class="col-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 position-static">
                <h4 class="mb-2 text-center">Выбранное время занято, выберите другое</h4>
            </div>
            <a type="button" class="btn btn-lg btn-block btn-outline-primary"
               href="{% url 'main:create_appointment' %}">Назад</a>
        </div>
    </div>
</div>
{% endblock %}