{% extends 'main/base.html' %}
{% block content %}

<div class="container py-4">
    <div class="col-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 position-static">
                <h4 class="mb-2 text-center">История создания медицинского центра
                    "Здоровье":</h4>
                <p class="card-text mb-auto">Будучи мастером спорта по гимнастике, молодой 20-летний парень во время
                    тренировки
                    получил тяжелейшую травму – перелом двух шейных позвонков, и оказался обреченным на паралич,
                    неподвижность и
                    многомесячное лежание в горизонтальном положении... Вот с такой грустной ноты и начинается длинная и
                    вдохновляющая история нашего предприятия, ведь этот парень - Леонид Иоффе - основатель медицинского
                    центра
                    "Здоровье".

                    Он оказался прикованным к постели, и как все утверждали - на всю жизнь. Но Леонид не смог просто так
                    сдаться.
                    Однажды родственники прочитали ему заметку из свежей газеты о цирковом артисте Валентине Дикуле и
                    штангисте Юрии
                    Власове, которые с помощью специальной физкультуры сумели полностью восстановиться после похожей
                    травмы. Это
                    было чудом и внушало надежду. С тех пор Леонид стал работать над своим телом. «Что именно нужно
                    делать, я не
                    представлял, я только знал, что они помогли себе с помощью движений. И я стал эти нагрузки
                    применять, терпеливо
                    усиливая их даже не до седьмого пота, а до кровавой пены и грамотно, ведь я, как мастер спорта,
                    многое знал и
                    владел своим телом. Выжить и восстановить себя было если не в сотни, то в десятки раз сложнее, чем
                    стать
                    олимпийским чемпионом": вспоминает он.

                    На восстановление здоровья ушло целых 8 лет и эта работа не прекращается по сей день: ежедневно
                    Леонид Иоффе
                    делает полуторачасовую зарядку и еженедельно совершает пешие прогулки. Физические
                    нагрузки и прогулки - основа его жизни.

                    На данный момент развитием медицинского центра "Здоровье" руководит сын Леонида - Олег Иоффе,
                    продолжая
                    нелегкий, но очень важный путь своего отца. "Здоровье" сегодня - это самый крупный медицинский центр
                    на
                    Восточном побережье Крыма с современным оборудованием, квалифицированными специалистами, мощной
                    лечебной базой.
                    Мечта Леонида Иоффе сбылась!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}