{% extends 'main/base.html' %}
{% block content %}

<div class="container py-4">
    <div class="col-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 position-static">
                <h4 class="mb-2 text-center">Миссия и принципы работы медицинского центра
                    "Здоровье":</h4>
                <p class="card-text mb-auto">Самая главная миссия - чтобы человек выходил из медицинского центра
                    ЗДОРОВЫМ! А главный
                    принцип - это человечность по отношению к пациентам. И передавая бизнес детям, я делал упор именно
                    на это. Меня
                    уже много лет нет на рабочем месте, но каждый раз, наблюдая за тем, как все реализовано, как
                    коллектив работает
                    без меня, я радуюсь. Ведь когда создателя нет, а дело живет - значит оно серьезное и основательное!"
                    - делится
                    Леонид.

                    Сегодня медицинский центр "Здоровье" продолжает следовать тем принципам, которые были заложены в его
                    строительство еще 36 лет назад. Ваше здоровье - наша самая главная ценность!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
